:host .offer-details-sidebar-wrapper {
  height: calc(100vh - 192px);
  padding: 100px 50px 50px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .offer-details-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .offer-description {
      margin-top: 50px;
      width: 100%;

      .description {
        padding-top: 10px;
        font-weight: 500;
      }

      ::ng-deep .mat-chip-list-wrapper {
        margin-top: 10px;
      }
    }
  }

  .offer-actions {
    button {
      margin: 0 5px;
    }
  }
}
