@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.candidacy-card-content {
  border-radius: 20px;
  border: 3px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 0 rgb(30 99 193 / 15%) !important;
  padding: 25px 30px !important;

  .candidacy-title {
    @include flexCol();

    .title, .candidate {
      font-weight: 600;
    }

    .title {
      font-size: 18px;
    }

    .candidate {
      font-size: 14px;
      padding-top: 10px;
      color: var(--disabled);
    }
  }

  .candidacy-actions {
    @include flexCol();

    .actions {
      display: flex;
      align-items: center;

      .flex-row {
        display: flex;
        align-items: center;

        mat-icon {
          margin: 0 10px;
          cursor: pointer;

          &.approve-candidacy {
            color: var(--success);
          }

          &.decline-candidacy {
            color: var(--error);
          }
        }
      }
    }

    .approved {
      color: var(--success);
    }

    .denied {
      color: var(--error);
    }
  }
}
