@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 33.3%;
}

.candidacy-card-content {
  border-radius: 20px;
  border: 3px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 0 rgb(30 99 193 / 15%) !important;
  padding: 25px 30px !important;

  div {
    flex: 0 0 33.33%
  }

  .candidacy-title {
    @include flexCol();

    .title, .owner {
      font-weight: 600;
    }

    .title {
      font-size: 18px;
    }

    .owner {
      font-size: 14px;
      padding-top: 10px;
      color: var(--disabled);
    }
  }

  .candidacy-additional {
    @include flexCol();

    .salary {
      font-size: 20px;
      font-weight: 600;

      .salary-unit {
        color: var(--disabled);
        font-size: 16px;
      }
    }
  }

  .candidacy-info {
    text-align: right;

    .pending-approval {
      color: var(--warning)
    }

    .approved {
      color: var(--success)
    }

    .denied {
      color: var(--error)
    }
  }
}
