.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .nav-item {
    color: var(--primary);
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color .2s;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
