input, textarea {
  border: 2px solid var(--disabled);
  border-radius: 10px;
  padding: 15px 20px;
  width: calc(100% - 40px);
  outline: none;
  font-size: 16px;
  color: var(--disabled);

  &::placeholder {
    color: var(--disabled);
  }

  &:focus {
    border-color: var(--primary);
    color: var(--primary);

    &::placeholder {
      color: var(--primary);
    }
  }

  &.error {
    border-color: var(--error);
    color: var(--error);

    &::placeholder {
      color: var(--error);
    }
  }
}
